<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="backFooter">
<head>
    <meta charset="UTF-8">
    <title>backFooter</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/footer.css}" rel="stylesheet" type="text/css">

</head>
<body>
<footer class="footer">
    <div class="container">
        <ul class="footer-item">
            <li><a href="#">GitHub</a></li>
            <li><a href="#">Twitter</a></li>
            <li><a href="#">Example</a></li>
            <li><a href="#">About</a></li>
        </ul>
        <div class="footer-description">
            <p class="text-center">
                感谢<strong>@Centurion</strong>参与的设计与技术贡献.
                该网站由<strong>@Centurion</strong>以及<strong>社区</strong>参与维护.
            </p>
            <p class="text-center">™ 1139350149@qq.com</p>
        </div>
    </div>
</footer>
</body>
</html>